<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Welcome To www.hardik.com, <%= @user.name %></h1>
    <p>
      you have successfully edited
      your email is: <%= @user.email %>
    </p>
    <%= image_tag attachments['image.jpg'].url %>
  </body>
</html>
